In [1]:
from IPython.display import HTML
from IPython.display import Image

In online advertising, click-through rate (CTR) is a very important metric for evaluating ad performance. As a result, click prediction systems are essential and widely used for sponsored search and real-time bidding.

For this competition, we have provided 11 days worth of Avazu data to build and test prediction models. Can you find a strategy that beats standard classification algorithms? The winning models from this competition will be released under an open-source license.

Avazu: https://www.kaggle.com/c/avazu-ctr-prediction

File descriptions

    train - Training set. 10 days of click-through data, ordered chronologically. Non-clicks and clicks are subsampled according to different strategies.
    test - Test set. 1 day of ads to for testing your model predictions. 
    sampleSubmission.csv - Sample submission file in the correct format, corresponds to the All-0.5 Benchmark.

Data fields

    id: ad identifier
    click: 0/1 for non-click/click
    hour: format is YYMMDDHH, so 14091123 means 23:00 on Sept. 11, 2014 UTC.
    C1 -- anonymized categorical variable
    banner_pos
    site_id
    site_domain
    site_category
    app_id
    app_domain
    app_category
    device_id
    device_ip
    device_model
    device_type
    device_conn_type
    C14-C21 -- anonymized categorical variables

In [2]:
import pandas as pd
import numpy as np
#import xlearn as xl
#logistic regression l1 regularization
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model

In [40]:
location='./data/'
converters = {"site_id": lambda x: int(x, 16),
              "site_domain": lambda x: int(x, 16),
              "site_category": lambda x: int(x, 16),
              "app_id": lambda x: int(x, 16),
              "app_domain": lambda x: int(x, 16),
              "app_category": lambda x: int(x, 16),
              "device_id": lambda x: int(x, 16),
              "device_model": lambda x: int(x, 16),
              "device_type": lambda x: int(x, 16),
              "device_ip": lambda x: int(x, 16),
             }
#Import only the first 10000 rows
data=pd.read_csv(location+'train.csv', nrows=500000, converters=converters)

In [41]:
data.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,532546046,4085536615,680550077,3970769798,2013391065,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,532546046,4085536615,680550077,3970769798,2013391065,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,532546046,4085536615,680550077,3970769798,2013391065,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,532546046,4085536615,680550077,3970769798,2013391065,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,4270638152,2439430497,90831144,3970769798,2013391065,...,1,0,18993,320,50,2161,0,35,-1,157

In [42]:
print("unique values:")
for colname in data.columns.values:
    print('\t',colname,'=',data[colname].unique().shape[0])

unique values:
	 id = 500000
	 click = 2
	 hour = 4
	 C1 = 7
	 banner_pos = 6
	 site_id = 1704
	 site_domain = 1586
	 site_category = 21
	 app_id = 1641
	 app_domain = 122
	 app_category = 20
	 device_id = 41413
	 device_ip = 171304
	 device_model = 3967
	 device_type = 4
	 device_conn_type = 4
	 C14 = 540
	 C15 = 8
	 C16 = 9
	 C17 = 154
	 C18 = 4
	 C19 = 40
	 C20 = 154
	 C21 = 34

In [43]:
print("col values:")
for colname in data.columns.values:
    print('\t',colname,'=',data[colname][0], ' type=',type(data[colname][0]))

col values:
	 id = 1.0000094181510943e+18  type= <class 'numpy.float64'>
	 click = 0  type= <class 'numpy.int64'>
	 hour = 14102100  type= <class 'numpy.int64'>
	 C1 = 1005  type= <class 'numpy.int64'>
	 banner_pos = 0  type= <class 'numpy.int64'>
	 site_id = 532546046  type= <class 'numpy.int64'>
	 site_domain = 4085536615  type= <class 'numpy.int64'>
	 site_category = 680550077  type= <class 'numpy.int64'>
	 app_id = 3970769798  type= <class 'numpy.int64'>
	 app_domain = 2013391065  type= <class 'numpy.int64'>
	 app_category = 131587874  type= <class 'numpy.int64'>
	 device_id = 2845778250  type= <class 'numpy.int64'>
	 device_ip = 3721564782  type= <class 'numpy.int64'>
	 device_model = 1150642724  type= <class 'numpy.int64'>
	 device_type = 1  type= <class 'numpy.int64'>
	 device_conn_type = 2  type= <class 'numpy.int64'>
	 C14 = 15706  type= <class 'numpy.int64'>
	 C15 = 320  type= <class 'numpy.int64'>
	 C16 = 50  type= <class 'numpy.int64'>
	 C17 = 1722  type= <class 'numpy.int64'>
	 C18 = 0  type= <class 'numpy.int64'>
	 C19 = 35  type= <class 'numpy.int64'>
	 C20 = -1  type= <class 'numpy.int64'>
	 C21 = 79  type= <class 'numpy.int64'>

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 24 columns):
id                  500000 non-null float64
click               500000 non-null int64
hour                500000 non-null int64
C1                  500000 non-null int64
banner_pos          500000 non-null int64
site_id             500000 non-null int64
site_domain         500000 non-null int64
site_category       500000 non-null int64
app_id              500000 non-null int64
app_domain          500000 non-null int64
app_category        500000 non-null int64
device_id           500000 non-null int64
device_ip           500000 non-null int64
device_model        500000 non-null int64
device_type         500000 non-null int64
device_conn_type    500000 non-null int64
C14                 500000 non-null int64
C15                 500000 non-null int64
C16                 500000 non-null int64
C17                 500000 non-null int64
C18                 500000 non-null int64
C19                 500000 non-null int64
C20                 500000 non-null int64
C21                 500000 non-null int64
dtypes: float64(1), int64(23)
memory usage: 91.6 MB

In [45]:
y=pd.DataFrame(data['click']).copy()

In [46]:
X=data

In [47]:
X['click']=1

In [48]:
#X.rename(index=str, columns={'click': 'intercept'},inplace=True)

In [49]:
colNames=list(X.columns)
m,n = X.shape
X = np.array(X)
y = np.array(y)
theta = np.array(np.zeros(n).reshape(n,1))

In [50]:
from sklearn import linear_model

def regLogitRegress(X,y):
    model = linear_model.LogisticRegression(penalty='l1', C=1.0)
    model.fit(X, y.ravel())
    Accuracy=model.score(X, y)
    print('The accuracy of the model:',Accuracy)
    coeff_df = pd.DataFrame(list(zip(X.columns, np.transpose(model.coef_))))
    Y_mean=y.mean()
    print('Target average:',Y_mean)
    return coeff_df

In [ ]:
regLogitRegress(X,y)